@import "./breakpoints.scss";

.card {
  padding: 0.625rem;
  flex: 0 0 auto;
  max-width: 18.75rem;

  display: inline;
  // justify-content: center;
  // align-items: center;
  margin-right: 0.8125rem;
  width: 12.5rem;
  height: 12.5rem;

  background: #000000;
  border-radius: 12px;

  @include media(">=768px") {
    width: 18.75rem;
    height: 18.75rem;
  }
}
