@import "./breakpoints.scss";
.row {
  margin: 2.0625rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__title {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }

  &__children {
    display: flex;
    margin-left: 1.75rem;
    flex-wrap: nowrap;
    overflow-x: hidden;

    @include media(">=768px") {
      margin-left: 4.8125rem;
    }
  }
}
