.search {
  &__label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3125rem;
    margin-bottom: 0.25rem;
    display: block;
  }
  &__input {
    display: block;
    height: 2.125rem;
    width: 100%;
    border: 1px solid #000000;
  }
}
